<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="assets/htmx.js"></script>
  <script src="assets/sse.js"></script>
</head>

<body hx-boost="true" hx-ext="sse" sse-connect="/events" class="bg-zinc-900 p-5">
  <%= content %>
  <script src="assets/components.js" defer></script>
</body>

</html>
