<form action="/register" method="POST" class="flex gap-2 justify-center">
    <input
        type="text"
        name="name"
        placeholder="Name"
        class="item-center rounded-md bg-zinc-800 shadow-md text-white border border-zinc-700 text-base px-2 py-1">
    <button
        type="submit"
        class="item-center rounded-md bg-zinc-800 shadow-md text-white border border-zinc-700 text-base px-2 py-1">
        Enter
    </button>
</form>
