<div>
  <h1>Round 2</h1>
  <ol>
    <li>Player 1: bet: 2, 0 points</li>
    <li>Player 2: bet: 1, 0 points</li>
  </ol>
  <hr>
  <div>
    Current Stack Trump: red
    <ol>
      <li>Red 12 (Player 1)</li>
      <li>Blue 12 (Player 2)</li>
    </ol>
  </div>
  <div>
    <button type="submit">Red 1</button>
    <button type="submit" disabled>Blue 2</button>
    <button type="submit" disabled>Green 3</button>
    <button type="submit">Wizard</button>
  </div>
</div>
